@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
