@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
}

:root {
    --header-height: 6rem;
    --footer-height: 2rem;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}


.header {
    height: var(--header-height);

}

.footer {
    height: var(--footer-height);
}

.root-container {
    margin-top: var(--header-height);
}

.main-content-container {
    height: calc(100vh - var(--header-height) - var(--footer-height));
}