@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.main-content-container {
    height: 90vh;
}